.sidebar-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #080b0f;
    color: #ffffff;
    position: absolute;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-in 0.3s;
  }
  
  .menu-item.active {
    background-color: #828282;
  }

  .page-container{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
  