*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html, body, #root{
  height: 100%;
}

body{
  background-color: #EFEFEF;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  cursor: pointer
}
